{% extends 'dashboard/index.html' %}
{% load static %}
{% load counter %}
{% block content %}


<!--  Header End -->

<!-- Include CSRF token meta tag here -->
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<style>
    .custom-hr {
        border: none;
        border-top: 5px solid #ccc;
        margin: 10px 0;
    }
    .bg-high-danger{
        background-color: #8b0000;
    }
    .bg-high-success{
        background-color: #00b000;
    }
</style>
<style>
    .fab {
        position: fixed;
        bottom: 40px;
        right: 20px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #3597fff7;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
    }
    .spinner-border {
        width: 24px;
        height: 24px;
        border-width: 2px;
    }
    .fab i {
        font-size: 1.5rem; /* Adjust the font size to make the icon bigger */
        font-weight: bold; /* Apply bold weight */
    }



      
      input {
        margin-top: 3rem;
      }
      
      .bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 2rem;
        height: 20rem;
        border-radius: 5px;
        background-color: lightblue;
        margin: 0 auto;
      }
      
      .filler {
        position: relative;
        border-radius: 5px;
        background-color: cornflowerblue;
      }
      
      .percent {
        position: absolute;
        top: 20%;
        font-size: 0.65rem;
        width: 100%;
        text-align: center;
      }

</style>
<style>
    /* Custom styles for btn-success (TradingView-like) */
    .btn-success {
        background-color: #0eb51f;
        border-color: #0e9950;
        color: #fff;
    }
    
    .btn-success:hover,
    .btn-success:focus {
        background-color: #0e9950;
        border-color: #0c8348;
        color: #fff;
    }
    
    .btn-success:active {
        background-color: #0c8348;
        border-color: #0a6e40;
        color: #fff;
    }
    
    .btn-success:disabled {
        background-color: #6fbf91;
        border-color: #6fbf91;
        color: #fff;
        opacity: 0.7;
        cursor: not-allowed;
    }
    
    /* Custom styles for btn-danger (TradingView-like) */
    .btn-danger {
        background-color: #dd2000;
        border-color: #d32f2a;
        color: #fff;
    }
    
    .btn-danger:hover,
    .btn-danger:focus {
        background-color: #d32f2a;
        border-color: #b72722;
        color: #fff;
    }
    
    .btn-danger:active {
        background-color: #b72722;
        border-color: #9a1f1b;
        color: #fff;
    }
    
    .btn-danger:disabled {
        background-color: #f0897b;
        border-color: #f0897b;
        color: #fff;
        opacity: 0.7;
        cursor: not-allowed;
    }
    
    /* Custom styles for btn-primary (TradingView-like) */
    .btn-primary {
        background-color: #007bff;
        border-color: #4278d6;
        color: #fff;
    }
    
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #007bff;
        border-color: #3769c5;
        color: #fff;
    }
    
    .btn-primary:active {
        background-color: #007bff;
        border-color: #2e5ca8;
        color: #fff;
    }
    
    .btn-primary:disabled {
        background-color: #007bff;
        border-color: #8ab7f7;
        color: #fff;
        opacity: 0.7;
        cursor: not-allowed;
    }
    </style>
<div class="container-fluid" style="max-width: initial;">
  <div class="row">
    <div class="col-lg-12 col-sm-12 d-flex align-items-stretch">
        <div class="card w-100" id="card_body" >
            <div class="card-body p-1 pt-4">
              <div class="col-12 justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                {% for option in options_data.data.optionsChain %}
                {% if option.option_type == ""%}
                  <div  id="info_form" class="container-fluid mt-5">
                    <div class="row mt-4" >
                        <!-- Web View -->
                            <p class="card-title fw-semibold fs-4 mt-4" id="optitle">OPTION CHAIN</p>
                                <div class="row mt-5" style="padding-inline:0px; margin:0px;" >
                                    <div class="col-12">
                                        <input class="form-control fw-bolder fs-5 mt-5 " disabled name="expiry" value="{{expiry_response}}">
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control fw-bolder fs-5 my-2" disabled name="ex_symbol" value="{{ option.ex_symbol }}">
                                    </div>
                                    <div class="col-6" id="index-cont" >
                                        <input class="form-control fw-bolder fs-5 my-2" id="index" disabled name="ltp" value="0">
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px;">
                                    <div class="col-6 mt-1" style="padding: 0px;">
                                        <div style="height:55px; margin-right:5px!important;" role="alert" class="alert alert-danger d-flex flex-row justify-content-between align-items-center p-0 m-0">
                                            <p id="exp_stoploss_amount" style="margin-left:20px; font-size:16px;" class="mb-0 fw-bolder">Exp Loss: &nbsp;&nbsp;{{exp_loss}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-1" style="padding: 0px;">
                                        <div style="height:55px; margin-left:5px!important;" role="alert" class="alert alert-success d-flex flex-row justify-content-between align-items-center p-0 m-0">
                                            <p id="exp_profit_amount" style="margin-left:20px; font-size:16px;" class="mb-0 fw-bolder">Exp Profit: &nbsp;&nbsp;{{exp_profit}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid my-2 py-2">
                                    <div class="row">
                                    <div class="col-6 d-flex justify-content-center align-items-center" style="height:65px;">
                                        <button id="portfolio_status" class="btn btn-primary spinner btn-lg btn-block w-100 h-100 fw-bold disabled" style="border-radius: 10px; background-color: blue;">
                                            Portfolio Status<br><span id="realized_pl_value">{{realized_pl|floatformat:2}}</span>
                                        </button>
                                    </div>                                        
                                    <div class="col-6 d-flex justify-content-center align-items-center" style="height:65px;">
                                        <button id="account_balance" class="btn btn-primary spinner btn-lg btn-block w-100 h-100 fw-bold disabled" style="border-radius: 10px; background-color: blue;">
                                            Account Balance<br>{{total_account_balance|floatformat:2}}
                                        </button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid m-0">
            <div class="row mt-1">   
                {% comment %} and option.serial_number != 4   {% endcomment %}

            <div class="col-sm-6 my-1">
                {% for option in pe_options_with_serial %}
                {% if option.option_type == "PE" and not  forloop.counter0 > atm_index  %}
                    <div class="alert alert-danger" role="alert" style="--bs-alert-padding-x: 10px;--bs-alert-padding-y: 10px; border-radius: 10px">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder fs-5 buy-button" style="border-radius: 10px">Buy</button>
                            </div>
                            <div class="col-4 text-center">
                                <input type="hidden" name="der-symbol-{{ option.symbol }}" value="{{ option.symbol }}">
                                <input type="hidden" name="opt-symbol" value="{{ option.symbol }}">
                                <input type="hidden" name="opt-ltp" value="{{ option.ltp }}">
                                <h5 class="card-title text-muted fw-bolder mb-0">
                                    {% if forloop.counter0 == atm_index %}
                                        <span style="color: white; background-color: #0065d0f7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {% elif forloop.counter0 < atm_index %}
                                        <span style="color: white; background-color: #3597fff7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;ITM&nbsp;&nbsp;&nbsp;{{ atm_index|subtract:forloop.counter0 }}&nbsp;&nbsp;</span>
                                    {% elif forloop.counter0 > atm_index %}
                                        <span style="color: white; background-color: #3597fff7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;OTM&nbsp;&nbsp;&nbsp;{{ forloop.counter0|subtract:atm_index }}&nbsp;&nbsp;</span>
                                    {% endif %}
                                    <br>
                                    <p class="card-text fs-5 fw-bolder mt-1">&nbsp;&nbsp;PE&nbsp;&nbsp;{{ option.strike_price }}</p>
                                </h5>
                                <p class="card-text fs-5 fw-bolder" id="der-ltp-{{ option.symbol }}">₹  {{ option.ltp }}</p>
                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder fs-5 sell-button" style="border-radius: 10px">Sell</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            
            </div>
            <div class="col-sm-6 my-1">
                {% for option in ce_options_with_serial %}
                {% if option.option_type == "CE" and not forloop.counter0 > atm_index %}
                    <div class="alert alert-success" role="alert" style="--bs-alert-padding-x: 10px;--bs-alert-padding-y: 10px; border-radius: 10px">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder fs-5 buy-button" style="border-radius: 10px">Buy</button>
                            </div>
        
                            <div class="col-4 text-center">
                                <input type="hidden" name="der-symbol-{{ option.symbol }}" value="{{ option.symbol }}">
                                <input type="hidden" name="opt-symbol" value="{{ option.symbol }}">
                                <input type="hidden" name="opt-ltp" value="{{ option.ltp }}">
        
                                <h5 class="card-title text-muted fw-bolder mb-0">
                                    {% if forloop.counter0 == atm_index %}
                                        <span style="color: white; background-color: #0065d0f7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {% elif forloop.counter0 < atm_index %}
                                        <span style="color: white; background-color: #3597fff7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;ITM&nbsp;&nbsp;&nbsp;{{ atm_index|subtract:forloop.counter0 }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {% elif forloop.counter0 > atm_index %}
                                        <span style="color: white; background-color: #3597fff7; padding: 4px; margin-bottom: 10px; border-radius: 10px; font-size: 75%;">&nbsp;&nbsp;&nbsp;&nbsp;OTM&nbsp;&nbsp;&nbsp;{{ forloop.counter0|subtract:atm_index }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {% endif %}
                                    <br>
                                    <p class="card-text fs-5 fw-bolder mt-1">&nbsp;&nbsp;CE&nbsp;&nbsp;{{ option.strike_price }}</p>
                                </h5>
                                <p class="card-text fs-5 fw-bolder" id="der-ltp-{{ option.symbol }}">₹  {{ option.ltp }}</p>
                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder fs-5 sell-button" style="border-radius: 10px">Sell</button>
                            </div>
                        </div>
                    </div>        
                {% endif %}
            {% endfor %}
        </div>
        </div>
        </ul>
        </div>
    </div>
    </div>
    </div>
<div class="container-fluid m-0 p-0">
    <div class="row ">
                    <!-- Web View -->
                    <div class="col-sm-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                            <div class="row alig n-items-start">
                                <div class="col-8">
                                <h5 class="card-title mb-9 fw-semibold">Order Max limit: &nbsp;&nbsp;{{order_limit}} </h5>
                                <div class="d-flex align-items-center pb-1">
                                    <span
                                    class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-arrow-down-right text-danger"></i>
                                    </span>
                                    <p class="fs-3 mb-0 fw-bolder fs-4">Brokerage(Expct):&nbsp;&nbsp;{{exp_brokerage_limit|floatformat:2 }}</p>
                                </div>
                                <div class="d-flex align-items-center pb-1">
                                    <span
                                    class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-arrow-down-right text-danger"></i>
                                    </span>
                                    <p class="fs-3 mb-0 fw-bolder fs-4">Brokerage(Actual):&nbsp;&nbsp;&nbsp;&nbsp;{{day_exp_brokerage|floatformat:2 }}</p>
                                </div>
                                </div>
                                <div class="col-4">
                                <div class="d-flex justify-content-end">
                                    <div
                                    class="text-white bg-primary  p-6 d-flex align-items-center justify-content-center fw-bolder fs-5" style="border-radius:6px;">
                                    {{total_order_status}}
                                    </div>
                                </div>
                                </div>
                                <div class="align-items-center m-2">
                                    <div class="progress" style="height: 32px;">
                                        <div class="progress-bar {% if progress_percentage > 80 %}bg-success{% elif progress_percentage > 50 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ progress_percentage }}%;" aria-valuenow="{{ total_order_status }}" aria-valuemin="0" aria-valuemax="{{ order_limit }}">
                                            <span class="text-dark fw-bolder fs-4 progress_percent">{{ progress_percentage }}%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                            <div class="row alig n-items-start">
                                <div class="col-8">
                                <h5 class="card-title mb-9 fw-semibold">Perfomance Status</h5>
                                <div class="d-flex align-items-center pb-1">  
                                    <span
                                    class="me-2 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center ">
                                    <i class="ti ti-arrow-up-right text-success"></i>
                                    </span>
                                    <p class="fs-3 mb-0 fw-bolder fs-4">Minimum Profit:&nbsp;&nbsp;{{day_exp_profit|floatformat:2 }}</p>
                                </div>
                                <div class="d-flex align-items-center pb-1">
                                    <span
                                    class="me-2 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center ">
                                    <i class="ti ti-arrow-up-right text-success"></i>
                                    </span>
                                    <p class="fs-3 mb-0 fw-bolder fs-4">Actual P/L:&nbsp;&nbsp;&nbsp;&nbsp; {{ realized_pl|floatformat:2 }}</p>
                                </div>
                                </div>
                                <div class="col-4">
                                <div class="d-flex justify-content-end">
                                <div class="text-white p-3 d-flex align-items-center justify-content-center fw-bolder fs-5"
                                    style="border-radius: 10px; 
                                    {% if actual_profit > super_trader_threshold %}
                                        background-color: #28a745; /* Super Trader Zone - Close the Day */
                                    {% elif actual_profit > day_exp_profit %}
                                        background-color: #218838; /* Best Zone */
                                    {% elif actual_profit > day_exp_brokerage %}
                                        background-color: #20c997; /* Excellent Zone */
                                    {% elif actual_profit < day_exp_brokerage and actual_profit > day_max_loss %}
                                        background-color: #ffc107; /* Draw Zone - Low Risk */
                                    {% elif actual_profit <= day_max_loss and actual_profit > day_max_loss_end %}
                                        background-color: #dc3545; /* Risk Zone */
                                    {% elif actual_profit <= day_max_loss_end %}
                                        background-color: #c82333; /* High Risk */
                                    {% else %}
                                        background-color: #ffc107; /* Default to Draw Zone */
                                    {% endif %}">
                                   {{ actual_profit|floatformat:2 }}
                               </div>
                                </div>
                                </div>
                                <div class="align-items-center m-2">
                                    <div class="progress" style="height: 32px;">
                                        {% if actual_profit > 0 %}
                                            <div class="progress-barcc 
                                                {% if actual_profit > super_trader_threshold %}
                                                    bg-super-trader
                                                {% elif actual_profit > day_exp_profit %}
                                                    bg-high-success
                                                {% elif actual_profit > day_exp_brokerage %}
                                                    bg-success
                                                {% elif actual_profit < day_exp_brokerage and actual_profit > day_max_loss %}
                                                    bg-warning
                                                {% elif actual_profit <= day_max_loss and actual_profit > day_max_loss_end %}
                                                    bg-danger
                                                {% elif actual_profit <= day_max_loss_end %}
                                                    bg-high-danger
                                                {% else %}
                                                    bg-warning
                                                {% endif %}" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <span class="text-white fw-bolder fs-5 m-2">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    {% if actual_profit > super_trader_threshold %}
                                                        Super Trader Zone - Close the Day
                                                    {% elif actual_profit > day_exp_profit %}
                                                        Best Zone - Close the Day
                                                    {% elif actual_profit > day_exp_brokerage %}
                                                        Excellent Zone
                                                    {% elif actual_profit < day_exp_brokerage and actual_profit > day_max_loss %}
                                                        Draw Zone - Low Risk
                                                    {% elif actual_profit <= day_max_loss and actual_profit > day_max_loss_end %}
                                                        Risk Zone
                                                    {% elif actual_profit <= day_max_loss_end %}
                                                        High Risk Zone
                                                    {% else %}
                                                        Draw Zone - Low Risk
                                                    {% endif %}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ actual_profit|floatformat:2 }}
                                                </span>
                                            </div>
                                        {% elif actual_profit < day_exp_brokerage %}
                                            <div class="progress-barcc 
                                                {% if actual_profit > day_exp_profit %}
                                                    bg-success
                                                {% elif actual_profit < day_exp_brokerage and actual_profit > day_max_loss %}
                                                    bg-warning
                                                {% elif actual_profit <= day_max_loss and actual_profit > day_max_loss_end %}
                                                    bg-danger
                                                {% elif actual_profit <= day_max_loss_end %}
                                                    bg-high-danger
                                                {% else %}
                                                    bg-high-danger
                                                {% endif %}" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <span class="text-light fw-bolder fs-4 text-align-center ">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    {% if actual_profit <= day_max_loss_end %}
                                                        Account Blow Zone - High Risk
                                                    {% elif actual_profit < day_max_loss %}
                                                        Today is Not Your Day - Risk Zone
                                                    {% elif actual_profit < day_exp_brokerage %}
                                                        Draw Down Zone - Low Risk
                                                    {% endif %}
                                                </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div> 
                    </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Floating Action Button -->
    <button id="refresh_page" class="fab">
        <i class="bi bi-arrow-clockwise"></i>
    </button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

<script>
    $(document).ready(function() {
        // Function to fetch data from the server
        function fetchData() {
            $.ajax({
                url: '{% url "update_data_instance" %}',
                type: 'GET',
                success: function(response) {
                    console.log('Data received:', response);
                    // Assuming 'response.realized_pl' is the new value you want to update in the HTML
                    var realized_pl = response.realized_pl;

                    // Update the Portfolio Status button with the new realized profit value
                    var portfolioStatusButton = document.getElementById('portfolio_status');
                    var realizedPlValue = document.getElementById('realized_pl_value');

                    // Update the inner HTML of the button with the new value, formatted to 2 decimal places
                    realizedPlValue.innerHTML = realized_pl.toFixed(2);

                    var totalOrderStatus = response.total_order_status;
                    var orderLimit = {{ order_limit }};
                    var remainingOrders = orderLimit - totalOrderStatus;
                    $('#total_order_status').text(totalOrderStatus + '/' + orderLimit);
                    var progressPercentage = ((remainingOrders / orderLimit) * 100).toFixed(1);
                    $('.progress-bar').css('width', progressPercentage + '%').attr('aria-valuenow', remainingOrders);
                    $('.progress-bar .text-dark').text(progressPercentage + '%');
                    if (progressPercentage > 50) {
                        $('.progress-bar').addClass('bg-success').removeClass('bg-warning bg-danger');
                    } else if (progressPercentage > 20) {
                        $('.progress-bar').addClass('bg-warning').removeClass('bg-success bg-danger');
                    } else {
                        $('.progress-bar').addClass('bg-danger').removeClass('bg-success bg-warning');
                    }

                    
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        // Initial call to fetch data
        fetchData();

        // Get a reference to the refresh button and add spinner on click
        var refreshButton = document.getElementById('refresh_page');
        refreshButton.addEventListener('click', function() {
            refreshButton.innerHTML = '<div class="spinner-border text-light" role="status"></div>';
            location.reload();
        });

        // WebSocket reconnect logic
        function reconnectWebSocket() {
            socketIndex.close();
            socketIndex = new WebSocket("wss://" + domain + "/ws/fyersindexdata/" + lastKeyword + "/");

            socketIndex.onmessage = function(event) {
                var optionsChain = {{ options_data.data.optionsChain|safe }};
                var symbolList = optionsChain.map(option => option.symbol);
                var message = event.data;
                updateData(message, symbolList);
            };
        }

        // Function to calculate the lot price based on symbol and ltpValue
        function getLotPrize(symbol, ltpValue) {
            var index = symbol.match(/^[^\d]+/);
            var extractedSymbol = index ? index[0] : symbol;
            ltpValue = Math.floor(ltpValue);

            switch (extractedSymbol) {
                case 'MIDCPNIFTY': return ltpValue * 50;
                case 'FINNIFTY': return ltpValue * 25;
                case 'BANKNIFTY': return ltpValue * 15;
                case 'NIFTY': return ltpValue * 25;
                case 'SENSEX': return ltpValue * 10;
                default: return false;
            }
        }

        // =======================================================================================================================================

        function fetchSessionDataAndUpdateUI() {
            // Make AJAX request to fetch session data
            $.ajax({
                type: 'GET',
                url: '{% url "get_open_temp_data" %}',  // URL to fetch session data
                success: function(response) {
                    // Check if session data exists
                    if (response.hasOwnProperty('open_symbol') && response.hasOwnProperty('open_qty') && response.hasOwnProperty('open_traded_price')) {
                        // Get the data from the response
                        var open_symbol = response.open_symbol;
                        let modifiedString = open_symbol.replace("NSE:", "");
                        var open_qty = response.open_qty;
                        var open_traded_price = response.open_traded_price;
                        var total_order_amount = response.total_order_amount
                        var exp_loss = response.exp_loss
                        var sl_price  = response.sl_price
                        function removeExpiryDate(symbol) {
                            // Match the pattern: any characters, followed by exactly 5 digits, followed by 7 characters
                            let pattern = /(.*)\d{5}(.......)/;
                            let result = symbol.replace(pattern, '$1  $2');
                            return result;
                        }
                        let modifiedString1 = removeExpiryDate(modifiedString);
                        console.log("modifiedStringmodifiedStringmodifiedString", modifiedString)
                        console.log("open_qtyopen_qty", open_qty,"open_traded_price", open_traded_price , "open_symbol", open_symbol,'total_order_amount', total_order_amount)
                        // Update the HTML elements with the retrieved data
                        document.querySelector('input[name="open-symbol"]').value = open_symbol;
                        document.querySelector('input[name="open-qty"]').value = open_qty;
                        document.querySelector('input[name="open-traded-price"]').value = open_traded_price;
                        document.getElementById('expLossAmount').innerHTML = 'M/L:&nbsp;&nbsp;&nbsp;&nbsp; ' + exp_loss + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +  'SL:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + sl_price;
                        document.getElementById('openOrderData').innerHTML = 'QTY:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ' + open_qty + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +  'LTP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + open_traded_price;
                        document.getElementById('openAmountData').innerHTML =  modifiedString1 + '&nbsp;&nbsp;&nbsp;('+ total_order_amount + '&nbsp;&nbsp;₹)' ;
                        document.getElementById('expLossAmount').innerHTML = 'STOPLOSS&nbsp;&nbsp;:&nbsp;' + sl_price + '&nbsp;&nbsp;&nbsp;&nbsp;(' + exp_loss + '&nbsp;&nbsp;₹)';
                        document.getElementById('openOrderData').innerHTML = 'POSITION&nbsp;&nbsp;:&nbsp;' + open_traded_price + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(' + open_qty + ' qty)';
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching session data:', error);
                }
            });
        }
        // =======================================================================================================================================

        // Handle click event for buy buttons
        $('.buy-button').click(function(e) {
            e.preventDefault();

            // Cache jQuery selectors
            var $this = $(this);
            var $alert = $this.closest('.alert');
            var derSymbol = $alert.find('input[name="opt-symbol"]').val();
            var ltp = $alert.find('input[name="opt-ltp"]').val();
            var exSymbol = $('input[name="ex_symbol"]').val();
            var csrfToken = $('meta[name="csrf-token"]').attr('content');

            // Get the current URL
            let url = window.location.href;
            // Split the URL by '/'
            let parts = url.split('/');
            // Get the last part of the URL
            let lastSegment = parts.pop() || parts.pop(); 
            var exSymbol1 = lastSegment

            
            // Change button text to indicate processing
            $this.prop('disabled', true).text('Placing...');

            // Make AJAX request
            $.ajax({
                type: 'POST',
                url: '{% url "instant_buy_order" %}',
                data: {
                    'der_symbol': derSymbol,
                    'ex_symbol': exSymbol,
                    'ex_symbol1': exSymbol1,
                    'ltp': ltp,
                    'csrfmiddlewaretoken': csrfToken
                }
            }).done(function(response) {
                // Handle success response
                swal({
                    position: "top-end",
                    icon: "success",
                    title: response.message,
                    showConfirmButton: false,
                    timer: 1500,
                });
                //fetchSessionDataAndUpdateUI();
                reconnectWebSocket();
                fetchData();
            }).fail(function(xhr, status, error) {
                // Handle error response
                console.error('AJAX request failed.', error);
                swal({
                    position: "top-end",
                    icon: "error",
                    title: "Some error occurred!",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 1500,
                });
                //fetchSessionDataAndUpdateUI();
                fetchData();
            }).always(function() {
                // Reset button text
                $this.prop('disabled', false).text('Buy');
            });
        }); 

        // =======================================================================================================================================

        // Handle click event for sell buttons
        $('.sell-button').click(function(e) {
                e.preventDefault();
                var csrfToken = $('meta[name="csrf-token"]').attr('content');
                var $this = $(this);
                $this.prop('disabled', true).text('Closing...');
                
                // Add your AJAX call here
                $.ajax({
                    type: 'GET',  // Adjust the request type as needed
                    url: '{% url "close_all_positions" %}',
                }).done(function(response) {
                    console.log('Position closed successfully.', response);
                    swal({
                        position: "top-end",
                        icon: "success",
                        title: response.message,
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    $this.prop('disabled', false).text('Sell');

                    // Cache frequently accessed elements
                    var parentDivElement = document.getElementById('openPlData').parentElement;
                    var openQtyInput = document.querySelector('input[name="open-qty"]');
                    var openSymbolInput = document.querySelector('input[name="open-symbol"]');
                    var openTradedPriceInput = document.querySelector('input[name="open-traded-price"]');
                    var openPlDataElement = document.getElementById('openPlData');
                    var openAmountDataElement = document.getElementById('openAmountData');
                    var expLossAmountElement = document.getElementById('openOrderData'); 
                    var openOrderDataElement = document.getElementById('expLossAmount');
                    var parentDivElement = document.getElementById('openPlData').parentElement;

                    // Update UI
                    openQtyInput.value = '';
                    openSymbolInput.value = '';
                    openTradedPriceInput.value = '';
                    // Remove all existing classes and set to Default
                    parentDivElement.classList = '';
                    parentDivElement.classList.add('alert', 'custom-primary', 'text-center');
                    openPlDataElement.innerHTML = 'P-L DATA&nbsp;&nbsp;';
                    openAmountDataElement.innerHTML = 'DEPLOYED&nbsp;';
                    expLossAmountElement.innerHTML = 'POSITIONS&nbsp;';
                    openOrderDataElement.innerHTML = 'STOPLOSS&nbsp;';
                    

                    // Fetch session data and update UI
                    //fetchSessionDataAndUpdateUI();

                    // Reconnect WebSocket and fetch additional data if necessary
                    reconnectWebSocket();
                    fetchData();
                }).fail(function(xhr, status, error) {
                    console.error('Failed to close position. Error:', error);
                    
                    swal({
                        position: "top-end",
                        icon: "error",
                        title: "Some error occurred!",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    $this.prop('disabled', false).text('Sell');
                }).always(function() {
                    // Reset button text after AJAX completes (success or error)
                    $this.prop('disabled', false).text('Sell');
                });
            });

       
        // =======================================================================================================================================

        // Function to update the data container with the received message
        function updateData(message, symbolList) {

            // Check if the message is a plain text error and not a valid JSON string
            if (message.startsWith('Error:')) {
                // Handle specific error messages
                if (message.includes("'Mode change failed'") || message.includes("'subscription failed'")) {
                    console.log("Fyers server-side issue, please try again later.");
                }
                return; // Stop further processing
            }
            // Show spinner initially
            var dataContainer = document.getElementById("data-index");
            var messageElement = document.querySelector('#index'); // Selecting the existing h1 element
            message = message.replace(/'/g, '"');
            var message = JSON.parse(message);
            console.log("messagemessagemessage", message);
            
            // Check if the type is "if"
                // Error handling for specific error messages

            if (message.type === 'if') {
                // Select the element by its ID
                refreshButton.innerHTML = '<i class="bi bi-arrow-repeat"></i>';
                var container = document.querySelector('#index-cont');
                // Remove the 'display: none;' style
                container.style.display = 'block';
                var ltpValue = message['ltp'];
                var symbol = message['symbol'];
                symbol = symbol.replace('NSE:', '').replace('-INDEX', '');
                ltpValue = ltpValue.toFixed(2);
                messageElement.value = ltpValue ; // Replacing the content with the new message
            } else if (message.type === 'sf') {
                // Handle the case when message type is 'sf'
                // console.log("Type is 'sf'.");
                var symbol = message['symbol'];
                indexsymbol = symbol.replace('NSE:', '').replace('-INDEX', '');
                if (!symbolList.includes(symbol)) {
                    // Refresh the page
                    location.reload();
                }
                // Retrieve the hidden input value if it exists
                var hiddenSymbolInput = document.querySelector('input[name="der-symbol-' + symbol + '"]');
                var hiddenSymbol = hiddenSymbolInput ? hiddenSymbolInput.value : null;
                var escapedSymbol = message['symbol'].replace(/(:|\.|\[|\]|,|=|@)/g, "\\$1");


                // Fetch openPlData value
                var open_qty = document.querySelector('input[name="open-qty"]').value;
                var open_symbol = document.querySelector('input[name="open-symbol"]').value;
                var open_traded_price = document.querySelector('input[name="open-traded-price"]').value;
                if (symbol === open_symbol) {
                    
                    document.getElementById('openPlData').innerText = '';
                    // Update the corresponding LTP value
                    var ltpValue = message['ltp'];
                    var currentValue = open_qty * ltpValue;
                    var expenseValue = open_traded_price * open_qty;
                    var plData = (currentValue - expenseValue).toFixed(2);
                    //****************************************************************************
                    var plDataNumber = parseFloat(plData);
                    // Format plData to two decimal places
                    var plDataFormatted = plDataNumber.toFixed(2);
                    // Determine if plData is negative or positive
                    var plDataIsNegative = plDataNumber < 0;
                    // Get a reference to the parent <div> element
                    var parentDivElement = document.getElementById('openPlData').parentElement;
                    // Update the class based on plData value
                    if (plDataIsNegative) {
                        parentDivElement.classList.remove('custom-primary', 'custom-success');
                        parentDivElement.classList.add('custom-danger');
                    } else {
                        parentDivElement.classList.remove('custom-primary', 'custom-danger');
                        parentDivElement.classList.add('custom-success');
                    }

                    // Update the innerHTML of the openPlData element
                    document.getElementById('openPlData').innerHTML = 'P/L:&nbsp;&nbsp;' + plDataFormatted+'&nbsp;₹&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + 'LTP:&nbsp;&nbsp;' + ltpValue + "&nbsp;&nbsp;" ;
                    var ltpElement = document.querySelector('#der-ltp-' + escapedSymbol);
                    ltpElement.textContent = "LTP: " + ltpValue;

                }
                if (symbol === hiddenSymbol) {
                    var ltpValue = message['ltp'];
                    var ltpElement = document.querySelector('#der-ltp-' + escapedSymbol);
                    
                    escapedSymbol = escapedSymbol.replace('NSE\\:', '');
                    indexsymbol = escapedSymbol.replace(/[0-9]{2}[A-Z]{3}[0-9]{5}[A-Z]{2}$/, '');
                    
                    var lotPrice = getLotPrize(indexsymbol, ltpValue);
                    // Format and style the LTP value
                    ltpElement.innerHTML = `<span style="font-weight: bold; font-size: larger;">₹ ${ltpValue.toFixed(2)}</span>` + 
                                        `\u00A0\u00A0\u00A0(${lotPrice})`;
                }
            } else {
                console.log("Fyers server-side issue, please try again later.");
                return; // Stop further processing if an error occurs
            }
        }

        // Initialize WebSocket connection
        var domain = window.location.hostname;
        var lastKeyword = window.location.pathname.split('/').filter(Boolean).pop();
        var socketIndex = new WebSocket("wss://" + domain + "/ws/fyersindexdata/" + lastKeyword + "/");

        socketIndex.onmessage = function(event) {
            var optionsChain = {{ options_data.data.optionsChain|safe }};
            var symbolList = optionsChain.map(option => option.symbol);
            updateData(event.data, symbolList);
        };

        socketIndex.onerror = function(error) {
            console.error("WebSocket error:", error);
        };

        window.addEventListener('beforeunload', function() {
            socketIndex.send(JSON.stringify({ action: 'disconnect' }));
            socketIndex.close();
        });

        // Refresh page logic
        function refreshPage() {
            location.reload();
        }

        // Check if the current time is between working hours (9:30 AM - 3:30 PM)
        function isBetweenWorkingHours() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            return (hours > 9 || (hours === 9 && minutes >= 30)) && (hours < 15 || (hours === 15 && minutes <= 30));
        }
    });
</script>

{% endblock %}
{% block optional_js %}
<!-- Remove additional JS imports -->
{% endblock %}
